.App {
  text-align: center;
}

.App-header {
  padding: 20px;
  color: black;
  font-size: 2.5em;
}

.center-search {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.center-search > * {
  font-size: 1.75em;
  margin: 0.1em;
}

.center-search button {
  border-radius: 0.2em;
  padding: 0.1em 0.5em;
  font-size: 1em;
  margin: 0.1em;
}

.chart {
  min-width: 300px;
  width: 60%;
  margin: auto;
  margin-top: -1em;
}

.current-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.current-info h2 {
  font-size: 3.6em;
  margin-top: 0;
  margin-bottom: 0;
}

.current-info ul {
  text-align: left;
  list-style: none;
  padding-left: 0;
  width: 10em;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.vert-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.weather-icon {
  width: 16em;
}
