html {
  background-color: #fbfbfb;
}

.App {
  text-align: center;
  color: #3c3c3c;
  background-color: #fbfbfb;
}

.center-search {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.center-search > * {
  font-size: 1.75em;
  margin: 0.1em;
}

.center-search button {
  border-radius: 0.2em;
  padding: 0.1em 0.5em;
  font-size: 1em;
  margin: 0.1em;
}

.chart {
  min-width: 300px;
  width: 60%;
  margin: auto;
  margin-top: -4em;
}

.current-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.current-info h2 {
  font-size: 3.6em;
  margin-top: 0;
  margin-bottom: 0;
}

.current-info ul {
  text-align: left;
  list-style: none;
  padding-left: 0;
  width: 10em;
}

.current-weather h3 {
  /*margin-top: 0;*/
}

.horiz-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.horiz-flex * {
  margin: 0.5em 2em 0.5em 2em;
}

.horiz-flex time {
  margin: 0;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.left-align {
  text-align: left;
}

.vert-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.weather-icon {
  width: 16em;
}

button {
  color: #fff;
  background-color: #545454;
}

footer {
  margin: 1em 0 0.2em 0;
  padding: 0.4em 0 0.2em 0;
  border-top: 1px solid #3c3c3c;
}

footer a {
  color: #3c3c3c;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.2em;
}

table {
  margin: auto;
  max-width: 80%;
  min-width: 300px;
}

table, th, td {
  border: 1px solid #3c3c3c;
  border-collapse: collapse;
}

th, td {
  padding: 1em 0;
}
