:root {
  --main-color: #3c3c3c;
  --alt-color: #455A64;
  --background-color: #fbfbfb
}

html {
  background-color: var(--background-color);
}

html, body, #root {
  height: 100%;
}

.App {
  text-align: center;
  color: var(--main-color);
  min-height:  100%;
  position: relative;
}

.center-search {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.75em;
  margin: 0.1em;
}

.center-search button {
  border-radius: 0.2em;
  padding: 0.1em 0.5em;
  font-size: 1em;
  margin: 0.1em;
}

.center-search input {
  font-size: 1em;
  margin: 0.1em;
}

.chart {
  width: 70%;
  margin: auto;
  margin-top: -4em;
  margin-bottom: 0.2em;
  display: flex;
}

.chart button {
  width: 5%;
  background-color: transparent;
  color: var(--main-color);
  font-size: 1.5em;
}

.current-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.current-info h2 {
  font-size: 3.6em;
  margin-top: 0;
  margin-bottom: 0;
}

.current-info ul {
  text-align: left;
  list-style: none;
  padding-left: 0;
  width: 10em;
}

.current-weather a:hover {
  text-decoration: underline;
}

.horiz-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.horiz-flex * {
  margin: 0.5em 2em 0.5em 2em;
}

.horiz-flex time {
  margin: 0;
}

.horiz-search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.5em;
  margin: 0.1em;
}

.horiz-search button {
  border-radius: 0.2em;
  padding: 0.1em 0.5em;
  font-size: 1em;
  margin: 0.1em;
}

.horiz-search input {
  font-size: 1em;
  margin: 0.1em;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.left-align {
  text-align: left;
}

.recentSearches ul {
  list-style: none;
  padding-left: 0;
}

.splash-margin {
  margin-top: 15%;
  margin-bottom: 1%;
}

.vert-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.weather-icon {
  width: 16em;
}

button {
  color: #fff;
  background-color: #545454;
}

footer {
  margin: 1em 0 0.2em 0;
  padding: 0.4em 0 0.2em 0;
  border-top: 1px solid var(--main-color);
  font-size: 0.9em;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 1.2em;
}

footer a {
  color: var(--main-color);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.2em;
}

main {
  height: 100%;
  padding-bottom: 3em;
}

table {
  margin: auto;
  max-width: 80%;
}

table, th, td {
  border: 1px solid var(--main-color);
  border-collapse: collapse;
}

th, td {
  padding: 1em 0;
}

@media only screen and (max-width:480px) {
  table {
    min-width: 300px;
  }

  .chart {
    min-width: 300px;
  }
}
